/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
.sebm-google-map-container {
    height: 500px;
    width: 80%;
}

input.form-control {
    width: 80%;
}

select.form-control {
    display: inline-block;
    width: 35%;
}

.form-horizontal {
    text-align: center;
}

#findRoute {
    display: block;
    margin: auto;
}
