<div id="floating-panel">
    <!--<input type="text" [(ngModel)]="pointA" (keyUp)="searchLocation(true)">
    <input type="text" [(ngModel)]="pointB" (keyUp)="searchLocation(false)">
    <button (click)="test()">Submit</button>-->
    <div *ngIf="location">
        <form [formGroup]="transportForm" (ngSubmit)="submitTransportForm(transportForm.value, transportForm.valid)" novalidate>
            <select formControlName="typeA">
                <option value="car">Car</option>
                <option value="bus">Bus</option>
                <option value="train">Train</option>
            </select>
            <select formControlName="typeB">
                <option value="car">Car</option>
                <option value="bus">Bus</option>
                <option value="train">Train</option>
            </select><br/>
            <button type="submit" [disabled]="!transportForm.valid">Submit</button>
        </form>
    </div>
</div>
<sebm-google-map
	[latitude]="-33.81224331648925"
	[longitude]="151.0953140258789"
	[zoom]="12">

	<sebm-google-map-directions [initRoute]="route"></sebm-google-map-directions>

    <sebm-google-map-marker 
          [latitude]="route.origin.lat"
          [longitude]="route.origin.lng"
          label="Point A"
          [markerDraggable]="true"
		  (dragEnd)="movePointA($event)">
	</sebm-google-map-marker>

    <sebm-google-map-marker 
          [latitude]="route.destination.lat"
          [longitude]="route.destination.lng"
          label="Point B"
          [markerDraggable]="true"
          (dragEnd)="movePointB($event)">
	</sebm-google-map-marker>
</sebm-google-map>

<p>Distances</p>
<div *ngFor="let distance of distances">
	<label> {{ distance }} </label>
</div>

<p>Duration</p>
<div *ngFor="let duration of durations">
	<label> {{ duration }} </label>
</div>
