<div id="floating-panel">
	<form [formGroup]="locationForm" (ngSubmit)="submitLocationForm(locationForm.value, locationForm.valid)" novalidate>
		<input #orig type="text" formControlName="origin" (keyup)="searchLocation(orig.value, true)">
		<input #dest type="text" formControlName="destination" (keyup)="searchLocation(dest.value, false)">
		<button type="submit">Submit</button>
	</form>

	<li *ngFor="let text of suggestions1 | async" (click)="updateText(orig, text)">
		<a href="#">{{ text }}</a>
	</li>

	<li *ngFor="let text of suggestions2 | async" (click)="updateText(dest, text)">
		<a href="#">{{ text }}</a>
	</li>

	<form [formGroup]="transportForm" (ngSubmit)="submitTransportForm(transportForm.value, transportForm.valid)" novalidate>
		<select formControlName="typeA">
			<option value="DRIVING:">Car</option>
			<option value="TRANSIT:BUS">Bus</option>
			<option value="TRANSIT:TRAIN">Train</option>
		</select>
		<select formControlName="typeB">
			<option value="DRIVING:">Car</option>
			<option value="TRANSIT:BUS">Bus</option>
			<option value="TRANSIT:TRAIN">Train</option>
		</select><br/>
		<button type="submit" [disabled]="!transportForm.valid">Submit</button>
	</form>
</div>
<sebm-google-map
	[latitude]="-33.81224331648925"
	[longitude]="151.0953140258789"
	[zoom]="12">

	<sebm-google-map-directions [initRoute]="route"></sebm-google-map-directions>

    <sebm-google-map-marker 
          [latitude]="route.origin.lat"
          [longitude]="route.origin.lng"
          label="Point A"
          [markerDraggable]="true"
		  (dragEnd)="movePoint($event, true)">
	</sebm-google-map-marker>

    <sebm-google-map-marker 
          [latitude]="route.destination.lat"
          [longitude]="route.destination.lng"
          label="Point B"
          [markerDraggable]="true"
          (dragEnd)="movePoint($event, false)">
	</sebm-google-map-marker>
</sebm-google-map>

<p>Distances</p>
<div *ngFor="let distance of distances">
	<label> {{ distance }} </label>
</div>

<p>Duration</p>
<div *ngFor="let duration of durations">
	<label> {{ duration }} </label>
</div>
