<!doctype html>
<html lang="en">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>EcoTransport</title>
<head>
    {% block head %}
	<!--<tite>TEST BOOTSTRAP TEMPLATE</tite>-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap3/css/custom.css') }}">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap3/css/bootstrap.min.css') }}">
    <!-- Optional Bootstrap theme -->

    <script src="{{ url_for('static', filename='css/bootstrap3/js/jquery-3.1.0.min.js') }}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Load c3.css -->
    <link href="{{ url_for('static', filename='css/c3.css') }}" rel="stylesheet" type="text/css">
    <!-- Load d3.js and c3.js -->
    <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/c3.js') }}"></script>

    <script>
    	var app = angular.module('myApp', []);
    	//$interpolateProvider.startSymbol('{[{').endSymbol('}]}');
    	app.controller('myCtrl', function($scope) {
    		$scope.firstname = "John";
    		$scope.lastname = "Doe";
    		$scope.mode1 = "Car";
    		$scope.mode2 = "Bus";

    	});

    	app.controller('myCtrlA', function($scope) {
    		$scope.firstname = "John";
    		$scope.lastname = "Doe";
    	});
    </script>
    {% endblock %}
</head>
	<script>
// This example displays an address form, using the autocomplete feature
      // of the Google Places API to help users fill in the information.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      var placeSearch, autocomplete;
      var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
      };

      function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete2')),
            {types: ['geocode']});

		 autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete1')),
            {types: ['geocode']});
        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
      }

      function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

        for (var component in componentForm) {
          document.getElementById(component).value = '';
          document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
          var addressType = place.address_components[i].types[0];
          if (componentForm[addressType]) {
            var val = place.address_components[i][componentForm[addressType]];
            document.getElementById(addressType).value = val;
          }
        }
      }

      // Bias the autocomplete object to the user's geographical location,
      // as supplied by the browser's 'navigator.geolocation' object.
      function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var center = new google.maps.LatLng(-33,151);
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: center,
              radius: 2000
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
      }
</script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPq_aC_7y3PA4Bim15wIhe8RFRguXEjzw&libraries=places&callback=initAutocomplete"
        async defer></script>
<body ng-app="myApp">
    <header>
    </header>
    <nav class="navbar navbar-default navbar-fixed-top">

<div class = "titleBack">
	<div class="mainTitle">Eco </div>Transport
</div>
<div class="formFindBack">
    <div class="container">
	<form action="/routesMap" method="POST" class = "form-horizontal" role= "form">
        <br/>
		<div class = "form-group">
			<label class = "col-xs-2 control-label"  for="destFrom"> From:</label>
			<div class = "col-xs-10">
                {% if fromForm != 0 %}
                <input type = "text" class = "form-control" id = "autocomplete1" name="destFrom" onFocus="geolocate()" value = "{{ fromForm }}">

                {% else %}
				<input type = "text" class = "form-control" id = "autocomplete1" name="destFrom" onFocus="geolocate()" placeholder="Enter Start Destination">
                
                {% endif %}
			</div>
		</div>
		<div class = "form-group">
			<label class = "control-label col-xs-2" for="destTo"> To:</label>
			<div class = "col-xs-10">
                {% if toForm != 0 %}    
                <input type = "text" class = "form-control" id = "autocomplete2" name="destTo" onFocus="geolocate()" value= "{{ toForm }}">

                {% else %}

				<input type = "text" class = "form-control" id = "autocomplete2" name="destTo" onFocus="geolocate()" placeholder="Enter Final Destination">
                {% endif %}
			</div>
		</div>
        <div class="form-group">        
            <div class="col-xs-offset-2 col-xs-10">
                <button class="btn btn-default" id="findRoute">Find Routes</button>
            </div>
        </div>
	</form>
    </div>
    </div>
</nav>
    {% block content%}
    {% endblock %}
    <footer>
        <div id="footer" class="container">
            <br/>
            <br/>
            <br/>
        StartCon 2016, Powered by Flask, Google Maps API and chartJS
            <p>All emissions data and metrics based on estimates</p>
            </div>
</footer>
</body>
</html>
