<!doctype html>
<html>
<head>
    {% block head %}
	<!--<tite>TEST BOOTSTRAP TEMPLATE</tite>-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap3/css/bootstrap.min.css') }}">
    <!-- Optional Bootstrap theme -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap3/css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap3/css/custom.css') }}">
    {% endblock %}
</head>
<body>
    <header>
    </header>
    {% block content%}
    {% endblock %}
    <footer>
    </footer>
</body>
</html>
