{% extends "header.html" %}
{% block title %}Title{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class = "titleBack">
	<div class="mainTitle">Eco </div> Transport
</div>
<div class = "formBack">
	<div class="container-fluid">
		<div class = "row">
			<!--<div class = "col-sm-4" style="background-color:lavender;">. col sm 4 </div>
			<div class = "col-sm-8" style="background-color:blue;">. col sm  8</div>-->
		</div>
	</div>
    <div class="container">
	<form action="/routesMap" method="POST" class = "form-horizontal" role= "form">
        <br/>
		<div class = "form-group">
			<label class = "col-xs-2 control-label"  for="destFrom"> From:</label>
			<div class = "col-xs-10">
				<input type = "text" class = "form-control" id = "autocomplete1" name="destFrom" onFocus="geolocate()" placeholder="Enter Start Destination">
			</div>
		</div>
		<div class = "form-group">
			<label class = "control-label col-xs-2" for="destTo"> To:</label>
			<div class = "col-xs-10">
				<input type = "text" class = "form-control" id = "autocomplete2" name="destTo" onFocus="geolocate()" placeholder="Enter Final Destination">
			</div>
		</div>
        <div class="form-group">        
            <div class="col-xs-offset-2 col-xs-10">
                <button class="btn btn-default" id="findRoute">Find Routes</button>
            </div>
        </div>
	</form>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPq_aC_7y3PA4Bim15wIhe8RFRguXEjzw&libraries=places&callback=initAutocomplete"
        async defer></script>
{% endblock %}
