{% extends "header.html" %}
{% block title %}Title{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class = "titleBack">
	<div class="mainTitle">Eco </div> Transport</div>
	</div>
	<div>
		<div class="container-fluid">
			<div class = "row">
				<!--<div class = "col-sm-4" style="background-color:lavender;">. col sm 4 </div>
				<div class = "col-sm-8" style="background-color:blue;">. col sm  8</div>-->
			</div>
		</div>
		<script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyBPq_aC_7y3PA4Bim15wIhe8RFRguXEjzw">
		</script>
		<script type="text/javascript">
		  function initialize() {
			var mapOptions = {
			  center: new google.maps.LatLng(-33.8698494, 151.1947438),
			  zoom: 12,
			  mapTypeId: google.maps.MapTypeId.ROADMAP
			};
			var map = new google.maps.Map(document.getElementById("map-canvas"),
				mapOptions);
		  }
		  google.maps.event.addDomListener(window, 'load', initialize);
		</script>
		<div id="map-canvas"></div>
	</div><br>
	<div class="selectModeTitle">
		Mode of Transport

	</div> <br>


<div ng-controller="myCtrl">
	<form class = "form-horizontal" role= "form">
			<select class="form-control" name="mode1" ng-model="mode1" style="width:45%; display:inline-block;" id="mode1">
				<option>Car</option>
				<option>Train</option>
				<option>Bus</option>
			</select>
			<select class="form-control" style="width:45%; display:inline-block;" name="mode2" ng-model="mode2" id="mode1">
				<option>Bus</option>
				<option>Train</option>
				<option>Car</option>
			</select><br>
	</form>
	<br>
	<!--<form class = "form-horizontal" role= "form">
		<div class="form-group">
			<div class = "col-xs-12">
				<button class="btn btn-default" id="findRoute">Car</button>
				<button class="btn btn-warning" id="findRoute">Train</button>
				<button class="btn btn-primary" id="findRoute">Bus</button>
			</div>
		</div>
	</form>-->
	<div class="selectModeTitle">
		Sustainability
	</div>
	<div class="comparisonBgrd" style="background-color: rgba(0, 0, 0, 0.4)">
		<div class="row">
			<div style="text-align:center;" class="col-xs-6"><h2><span class="label label-default">Bus 5 min</span></h2>
			<div class="row">
			<br><div style="float:center; padding-left:35%;">
					<div class="c100 p32 small orange">
						<span>32%</span>
						<div class="slice">
							<div class="bar"></div>
							<div class="fill"></div>
						</div>
					</div>
    			</div>
				<br>
				</div>
				<div class="row percentageStat">Less efficient</div>
			</div>
		  	<div style="text-align:center; border-left: thin solid #009900;" class="col-xs-5"><h2>
			  <span class="label label-default">Car 17 min</span></h2>
				<div class="row">
				<br><div  style="float:center; padding-left:30%;">
			  		<div class="c100 p12 small green">
					<span>12%</span>
						<div class="slice">
							<div class="bar"></div>
							<div class="fill"></div>
						</div>
					</div>
    				</div><br>
				</div>
				<div class="row percentageStat">More efficient</div>
			</div>
		</div>
	<br></div>
	<div style="text-align:center;background-color: rgba(0, 0, 0, 0.2)"><br>
		<h2><span class="label label-success">Trees to Plant</span></h2><br></div>
	<div class="comparisonBgrd" style="background-color: rgba(0, 0, 0, 0.2)">
		<div class="row">
				<div style="text-align:center;" class="col-xs-6">
				<div class="row">
				<br><div style="float:center; padding-left:5%;">
						 <span class="glyphicon glyphicon-tree-conifer"></span>
					 <span class="glyphicon glyphicon-tree-conifer"></span>
					 <span class="glyphicon glyphicon-tree-conifer"></span>
						<span class="glyphicon glyphicon-tree-conifer"></span>
					</div>
					<br>
					</div>
				</div>
				<div style="text-align:center; border-left: thin solid #009900;" class="col-xs-5">
					<div class="row">
					<br><div  style="float:center; padding-left:30%;">
						 <span class="glyphicon glyphicon-tree-conifer"></span></p>
						</div>
					</div>
				</div>
		</div>
	<br>
	</div>
	<div style="text-align:center;background-color: rgba(0, 0, 0, 0.4)"><br>
		<h2><span class="label label-danger">Emmissions Use</span></h2><br></div>
	<div class="comparisonBgrd" style="background-color: rgba(0, 0, 0, 0.4)">
		<div class="row">
				<div style="text-align:center; " class="col-xs-8">
				<div class="row">
				<br><div style="text-align:center;">
					<b>Fuel Consumption: </b>2.1 (L/100km)
					<br>
					<b>Energy consumption: </b> 182 (Wh/km)
					<br>
					<b>Annual Fuel Cost: </b>2.1 (L/100km)

					</div>
					<br>
				</div>
				</div>
				<div style="text-align:center; border-left: thin solid #009900;" class="col-xs-3">
					<div class="row">
					<br><div  style="text-align:center;">
						 5.1 (L/100km)<br>
						 5.1 (L/100km)<br>
						 5.1 (L/100km)<br>
						</div>
					</div>
				</div>
		</div>
	<br>
	</div>

    <script>
        destFrom = "{{ dest['from'] }}";
        destTo = "{{ dest['to'] }}";
    </script>
{% endblock %}
