{% extends "header.html" %}
{% block title %}Title{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
		<div class = "titleBack">
		<div>Eco Comparison</div>
	</div>
	<div>
		<div class="container-fluid">
			<div class = "row">
				<!--<div class = "col-sm-4" style="background-color:lavender;">. col sm 4 </div>
				<div class = "col-sm-8" style="background-color:blue;">. col sm  8</div>-->
			</div>
		</div>
		<script src = "https://maps.googleapis.com/maps/api/js?
						   key=${AIzaSyBmurbR82sAvbhNgJou-eBENl4VhfXxubI}&sensor=false">
		</script>
		<script type="text/javascript">
		  function initialize() {
			var mapOptions = {
			  center: new google.maps.LatLng(-33.8698494, 151.1947438),
			  zoom: 12,
			  mapTypeId: google.maps.MapTypeId.ROADMAP
			};
			var map = new google.maps.Map(document.getElementById("map-canvas"),
				mapOptions);
		  }
		  google.maps.event.addDomListener(window, 'load', initialize);
		</script>
		<div id="map-canvas"></div>
	</div><br>
	<div class="selectModeTitle">
		Select Mode of Transport

	</div> <br>
	<form class = "form-horizontal" role= "form">
			<select class="form-control" style="width:45%; display:inline-block;" id="mode1">
				<option>Car</option>
				<option>Train</option>
				<option>Bus</option>
			</select>
			<select class="form-control" style="width:45%; display:inline-block;" id="mode1">
				<option>Bus</option>
				<option>Train</option>
				<option>Car</option>
			</select><br>
	</form>
    <br>

	<!--<form class = "form-horizontal" role= "form">
		<div class="form-group">
			<div class = "col-xs-12">
				<button class="btn btn-default" id="findRoute">Car</button>
				<button class="btn btn-warning" id="findRoute">Train</button>
				<button class="btn btn-primary" id="findRoute">Bus</button>
			</div>
		</div>
	</form>-->

	<div class="selectModeTitle">
		Comparison

	</div>

	<div class="comparisonBgrd" style="background-color: rgba(0, 0, 0, 0.4)">
		<div class="row">
		  <div class="col-xs-6">.col-sm-5</div>
		  <div class="col-xs-5">.col-sm-4</div>
		</div>
	</div>
	<script src="bootstrap3/js/jquery-3.1.0.min.js"></script>
    <script src="bootstrap3/js/bootstrap.min.js"></script>
{% endblock %}
